html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

:root {
    --light-blue: #02c2b0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    background: #181a1b;
}

.dx-datagrid-text-content.dx-sort-indicator,
.navbar-brand,
.dx-widget.dx-button,
.dx-datagrid .dx-link,
.dx-icon.dx-icon-edit-button-addrow::before,
.dx-datagrid-text-content {
    color: var(--light-blue);
}

.dx-widget.dx-button {
    border: 1px solid var(--light-blue);
}

.dx-page.dx-selection[tabindex] {
    background-color: var(--light-blue);
}